.navbarSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contentTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}